# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**
* List popular languages for Data Science
* Popular libraries for Data Science        
* Table listing Data Science Tools

* Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

* Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. ggplot
3. Numpy
4. Pandas

| Data Science Tools|
|--------------|
| Jupyter |
| R Studio |
| IBM Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [24]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [26]:
## This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Aryan Sihag